apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: alertmanager
  name: alertmanager
spec:
  ports:
    - name: "9093"
      port: {{ .Values.service.alertmanager.port }}
      targetPort: 9093
  selector:
    io.kompose.service: alertmanager
