apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: backend
  name: backend
spec:
  ports:
    - name: "5000"
      port: {{ .Values.service.backend.port }}
      targetPort: {{ .Values.service.backend.port }}
  type: {{ .Values.service.backend.type }}    
  selector:
    io.kompose.service: backend
