apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: frontend
  name: frontend
spec:
  ports:
    - name: "80"
      port:  {{ .Values.service.frontend.port }}
      targetPort: 80
  type: {{ .Values.service.frontend.type }}    
  selector:
    io.kompose.service: frontend
